form {
  border-radius: 5px;
}

[data-bs-theme="dark"] {
  body {
    background-color: #121212;
  }

  form {
    background: #2b3035;
  }

  .form-error-message {
    color: #ff6961;
  }
}

/* Custom styles for light mode */
[data-bs-theme="light"] {
  /* Example: Change a custom element's background in light mode */
  form {
    background-color: #f8f9fa;
  }

  .form-error-message {
    color: red;
  }
}


